/* Reset some default styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif; /* Apply Raleway font to the entire page */
}

/* Style the header and banner */
header {
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
    position: relative;
    z-index: 1;
}

.banner {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 20px;
    justify-content: space-between;
    z-index: 1;
}

.left-content {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
}

.right-content {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px; /* Updated font size */
    transition: font-size 0.3s;
}

nav a:hover {
    color: #ff9900;
    font-size: 30px; /* Updated font size */
}

#code-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    background-color: black;
    color: #ff9900; /* Adjust the color as needed */
    white-space: pre; /* Preserve whitespace and line breaks */
    line-height: 1.5;
    padding: 20px; /* Added padding for spacing */
    z-index: 0; /* Set a lower z-index to place it behind the banner */
    user-select: none; /* Prevent text selection */
}

.code-line {
    padding: 2px 0;
}

#title-section {
    text-align: center;
    margin-top: 200px; /* Adjust the top margin as needed */
    margin-bottom: 200px;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 26px; /* Adjust the font size for the title */
    color: #fff; /* Title text color */
    margin-left: 20px;
}

.bigtitle{
    font-size: 64px; /* Adjust the font size for the title */
    color: #fff;
}

.subtitle {
    font-size: 32px; /* Adjust the font size for the subtitle */
    color: #fff; /* Subtitle text color */
}

.maintext{
  font-size: 24px; /* Adjust the font size for the subtitle */
  margin-left: 20px;
}

.contrtitle{
  font-size: 27px; /* Adjust the font size for the subtitle */
  margin-left: 20px;
  margin-bottom: -20px;
  color: #ff9900
}

#about-me-section {
    /*background-image: url(https://i.postimg.cc/wB0G9DJS/blackpattern.png);
    background-size: 300px, 300px;*/
    background-color: #333; /* Background color for the "About Me" section */
    color: #fff; /* Text color for the "About Me" section */
    padding: 20px;
    position: relative;
    z-index: 1;
}

.section-title {
    font-size: 24px; /* Font size for the section title */
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.about-me-content {
    display: flex;
    align-items: center;
}

.headshot {
    border-radius: 25px;
    width: 300px; /* Adjust the width of the headshot image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Adjust the margin as needed */
    margin-left: 20px;
}

.about-me-paragraph {
    font-size: 24px; /* Font size for the about me paragraph */
}

.project {
    position: relative;
    margin: 0 10px; /* Adjust the margin as needed */
    text-align: center;
    overflow: hidden;
    cursor: pointer; /* Change cursor on hover */
}

.project-hover {
    position: relative;
    transition: transform 0.3s ease; /* Add a transition for scaling */
}

.project:hover .project-hover {
    transform: scale(1.1); /* Increase the size on hover */
}

.project-image {
    display: flex;
    justify-content: center;
    width: 450px; /* Adjust the width of the project images */
    height: auto; /* Maintain aspect ratio */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the project images */
}

.project-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the image */
    pointer-events: none; /* Disable interaction with the video */
}

.project-video::-webkit-media-controls {
    display: none; /* Hide default video controls for Safari */
}

.project:hover .project-video {
    display: block; /* Show the video on hover */
}

.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* Background color for the title */
    color: #fff; /* Text color for the title */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 24px; /* Font size for the title */
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 1920;
    height: 1080;
    margin-top: -250px;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    z-index: -1; /* Place it behind other content */
}

#fullpage {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
}

#fullpage::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1000;
}
